# npm debugging logs 
npm-debug.log* 

# project dependencies
node_modules 

# OSX folder attributes 
.DS_Store 

# temporary files 
*.tmp
*~
*.swp 

# exclude dist and public dist directory 
dist 
public/dist
